body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: inline-flex;
    padding: 3rem 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 3.1875rem;

    border-radius: 3.125rem;
    border: 5px solid var(--container-border);
    background: var(--container-fill);
    box-shadow: var(--container-shadow);
}

.login-box .title {
    color: #8b358b;
    text-align: center;
    font-size: 2.8rem;
    font-style: normal;
    line-height: normal;
}

.login-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login-layout input {
    width: 23rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    border: 3px solid #8b358b;
    background: #eebcee;
}

.login-button {
    width: 14rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 3px solid #db87b9;
    background: #ffadde;
}

.login-button .text {
    color: #8b358b;
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-layout .input-text {
    color: #8b358b;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.login-layout .error-text {
    color: #c5314c;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 23rem;
}
