.main-manager-container{
    width: 90rem;
    height: 44rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Manager Container*/
.manager-container{
    display: inline-flex;
    padding: 4rem 3rem;
    flex-direction: column;
    align-items: center;
    gap: 3.1875rem;
    border-radius: 3.125rem;
    border: 5px solid #FFCAFC;
    background: linear-gradient(180deg, #FBE2FD 0%, #FBD0FB 100%);
    box-shadow: 0px 4px 23.9px 0px rgba(0, 0, 0, 0.17);
}

/*Products*/
.specific-manager-unasigned-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70.375rem;
    padding: 0.25rem 1rem;
    align-items: center;
    gap: 3.4375rem;
    border-top: 3px solid #8B358B;
    background: #FBD0FB;
}
.specific-manager-unsasigned-product-titles{
    display: flex;
    width: 70.375rem;
    padding: 0.25rem 1rem;
    gap: 3.4375rem;
    border-top: 3px solid #8B358B;
    background: #FBD0FB;
}
.id-title{
    margin-right: 16rem;
}
.asignee-title{
    margin-right: 10.5rem;
}
.other-title{
    margin-right: 21rem;
}

/*Message Container*/
.specific-message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70.375rem;
    padding: 0.25rem 1rem;
    align-items: center;
    gap: 3.4375rem;
    border-top: 3px solid #8B358B;
    background: #FBD0FB;
}

/*Buttons*/
.manager-buttons {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    width: 72rem;
    flex-direction: row;
    justify-content: space-between;
}
.manager-message-buttons {
    display: flex;
    padding-top: 1.5rem;
    width: 72rem;
    flex-direction: row;
    justify-content: space-between;
}
.manager-edit-buttons{
    height: 2.3125rem;
    display: inline-flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 3px solid #DB87B9;
    background: #FFADDE;

    cursor: pointer;
}
.manager-create-buttons{
    height: 2.3125rem;
    display: inline-flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 3px solid #DB87B9;
    background: #FFADDE;

    cursor: pointer;
}
.manager-swap-buttons{
    width: 2.3125rem;
    height: 2.3125rem;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    border: 3px solid #DB87B9;
    background: #FFADDE;

    cursor: pointer;
}
.manager-creating-stuff{
    display: flex;
    width: 29rem;
    justify-content: space-between;
    flex-direction: row;
}
.manager-page-swappers{
    display: flex;
    width: 6rem;
    justify-content: space-between;
    flex-direction: row;
}