@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500;8..144,700&display=swap");

:root {
    --background: #ffffff;
    --text-fallback: #8b358b;

    /* containers */
    --container-fill: linear-gradient(180deg, #fbe2fd 50%, #fbd0fb);
    --container-border: #ffcafc;
    --container-text: #8b358b;

    /* buttons */
    --button-fill: #ffadde;
    --button-border: #db87b9;
    --button-text: #8b358b;

    /* input fields */
    --input-fill: #eebcee;
    --input-border: #8b358b;
    --input-text: #8b358b;
    --input-error: #c5314c;

    --container-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
    --popup-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.3);
}

/* DARK MODE */
[data-theme="dark"] {
    --background: #0c0823;
    --text-fallback: #d9d2ff;

    --container-fill: linear-gradient(180deg, #3c2aaa 50%, #3f3095);
    --container-border: #5340c5;
    --container-text: #d9d2ff;

    --button-fill: #6c57e8;
    --button-border: #5745c0;
    --button-text: #d9d2ff;

    --input-fill: #34277e;
    --input-border: #5340c8;
    --input-text: #d9d2ff;
    --input-error: #bc7ed1;
}

/* tiks visiem applyots */
* {
    margin: 0;
    min-width: 0;
    font-family: "Roboto Flex", sans-serif;
}
