/*Popup Base*/
.blurred-bg{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    z-index: 2500;
}
.popup-base{
    overflow: hidden;
    display: flex;
    position: absolute;
    padding: 4rem 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.1875rem;
    border-radius: 3.125rem;
    background: var(--container-fill);
    border: 5px solid var(--container-border);
    box-shadow: var(--container-shadow);
    z-index: 3000;
}


/*Popup Specifics*/
.popup-specifics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70.375rem;
    padding: 0.25rem 1rem;
    align-items: center;
    gap: 3.4375rem;
    border-top: 3px solid #8B358B;
}
.popup-specifics:nth-child(odd){
    background: #EEBCEE;
}
.popup-specifics:nth-child(even){
    background: #FBD0FB;
}